services:
  mongo:
    image: mongo:7
    container_name: meddocs-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: meddocs-backend
    restart: unless-stopped
    depends_on:
      - mongo
    env_file:
      - ./backend/.env
    environment:
      - MONGO_URI=mongodb://mongo:27017
      - MONGO_DB=med_docs
      - API_PREFIX=/api
      - APP_NAME=med-doc-backend
      - APP_ENV=dev
    ports:
      - "8000:8000"

volumes:
  mongo_data:
